USE [master]
GO
/****** Object:  Database [MedicalCenter]    Script Date: 21.12.2023 8:50:17 ******/
CREATE DATABASE [MedicalCenter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalCenter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalCenter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedicalCenter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalCenter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalCenter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalCenter]
GO
/****** Object:  Table [dbo].[PatientWindow]    Script Date: 21.12.2023 8:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientWindow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[pacient] [nchar](10) NOT NULL,
	[data] [date] NOT NULL,
 CONSTRAINT [PK_PatientWindow_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientWindow2]    Script Date: 21.12.2023 8:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientWindow2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Surname] [nchar](10) NOT NULL,
	[Adress] [nchar](10) NOT NULL,
	[Pol] [nchar](10) NOT NULL,
	[DateBirthDay] [date] NOT NULL,
	[Imya] [nchar](10) NULL,
 CONSTRAINT [PK_PatientWindow] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 21.12.2023 8:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 21.12.2023 8:50:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PatientWindow] ON 

INSERT [dbo].[PatientWindow] ([Id], [pacient], [data]) VALUES (1, N'Frkhipo   ', CAST(N'2003-01-13' AS Date))
SET IDENTITY_INSERT [dbo].[PatientWindow] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientWindow2] ON 

INSERT [dbo].[PatientWindow2] ([Id], [Name], [Surname], [Adress], [Pol], [DateBirthDay], [Imya]) VALUES (20, N'324234    ', N'234234    ', N'23424     ', N'Мужской   ', CAST(N'2023-12-06' AS Date), N'324234    ')
INSERT [dbo].[PatientWindow2] ([Id], [Name], [Surname], [Adress], [Pol], [DateBirthDay], [Imya]) VALUES (21, N'maxim     ', N'arkhipov  ', N'12345     ', N'Мужской   ', CAST(N'2023-12-02' AS Date), N'maxim     ')
SET IDENTITY_INSERT [dbo].[PatientWindow2] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [Name]) VALUES (1, N'user')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Password], [IdRole]) VALUES (7, N'user      ', N'12345     ', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
